<!doctype html>
<html ng-app="ccdash">
<head>
  <meta name="charset" content="utf-8">
  <title>CalCentral Dashboard</title>

  <link rel="stylesheet" type="text/css" href="/client/css/main.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/client/client.js"></script>
</head>
<body ng-controller="MainController">

<div class="ccdash-states" data-ng-repeat="(service, serviceItem) in data.services">
  <div class="ccdash-state-item ccdash-state-{{value.state}}" data-ng-repeat="(key, value) in serviceItem">
    <h2>
      <a ng-href="{{value.planUrl}}" ng-bind-template="{{service}}: {{key}}"></a>
    </h2>
    <div class="ccdash-state-item-content">
      <a ng-href="{{value.currentBuildUrl}}" ng-bind-template="#{{value.number}}"></a>
    </div>
  </div>
</div>

</body>
</html>
