@font-face {
    font-family: 'sofia_pro_lightregular';
    src: url('../font/SofiaProLight-webfont.eot');
    src: url('../font/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SofiaProLight-webfont.woff') format('woff'),
         url('../font/SofiaProLight-webfont.ttf') format('truetype'),
         url('../font/SofiaProLight-webfont.svg#sofia_pro_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  background: #222;
  color: #fff;
  font-family: 'sofia_pro_lightregular', verdana, serif;
  margin: 0 20px;
  padding: 0;
}
.ccdash-clear {
  clear: both;
}
.ccdash-clearfix-container:before,
.ccdash-clearfix-container:after {
    content: " ";
    display: table;
}
.ccdash-clearfix-container:after {
    clear: both;
}

.ccdash-block {
  background: #605958;
  float: left;
  margin: 40px 20px 0 20px;
}
.ccdash-block-list {
  clear: both;
  list-style-type: none;
  padding: 20px;
}
.ccdash-block-list li {
  clear: both;
}
.ccdash-block-content {
  padding: 20px;
}

.ccdash-block h2 {
  background: rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
}

.ccdash-state-item {
  height: 180px;
  width: 250px;
}
.ccdash-state-item h2 {
  text-align: center;
}
.ccdash-state-item .ccdash-state-item-content {
  text-align: center;
}
.ccdash-state-warning {
  background: #ff7e00
}
.ccdash-state-failed {
  background: #f75b49;
}
.ccdash-state-successful {
  background: #689b3a;
}

.ccdash-pulls-title {
  float: left;
  margin-right: 25px;
  opacity: 0.8;
}
.ccdash-pulls-user {
  float: right;
  opacity: 0.4;
}

.ccdash-codeclimate-donut {
  height: 250px;
  width: 250px;
}
.ccdash-codeclimate-donut-container {
  padding: 0;
}

/* Spinner */
/* Animation */
@keyframes ccdash-loading {
  to { transform: rotate(360deg); }
}

/* Loader (*/
.ccdash-spinner {
  background: transparent;
  border-top: 4px solid rgba(255, 255, 255, 0.8);
  border-right: 4px solid rgba(255, 255, 255, 0.8);
  border-bottom: 4px solid rgba(119, 119, 119, 0.3);
  border-left: 4px solid rgba(119, 119, 119, 0.3);
  border-radius: 50%;
  height: 40px;
  margin: 15px auto;
  width: 40px;

  animation: ccdash-loading 1.2s infinite linear;
}


